/*==================================================
                LARGE DEVICES
==================================================*/

@media (max-width:992px){

    :root{

        --section-padding:90px;

    }

}

/*==================================================
                TABLETS
==================================================*/

@media (max-width:768px){

    :root{

        --section-padding:80px;

    }

    .brand-title{

        font-size:1rem;

        letter-spacing:1px;

    }

    .brand-subtitle{

        font-size:.8rem;

    }

}

/*==================================================
                MOBILES
==================================================*/

@media (max-width:576px){

    :root{

        --section-padding:70px;

    }

}